.MuiBlockquote {
  border: 5px solid #bbbbbb;
  position: relative;
  font-style: italic;
  padding-bottom: 1px;
}

.MuiBlockquote::before, .MuiBlockquote::after {
  top: -5px;
  left: 50%;
  width: 94%;
  height: 5px;
  content: "";
  position: absolute;
  background: #ffffff;
  margin-left: -47%;
}

.MuiBlockquote::after {
  top: auto;
  bottom: -5px;
}